/* Your app custom styles here */
.my-gauge {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 45px;
}

.edit-budget {
  margin-bottom: 12px !important;
}

.icon-red {
  color: #dc143c;
}

.icon-green {
  color: #50c878;
}

.text-red {
  color: #dc143c !important;
}

.text-green {
  color: #50c878 !important;
}

.cover-image {
  width: 100%;
}

.cover-image-container {
  background: rgb(138, 203, 236);
  background: linear-gradient(
    0deg,
    rgba(138, 203, 236, 1) 33%,
    rgba(73, 144, 172, 1) 36%
  );

  margin-top: 0px;
}

.login-screen-content {
  align-content: center;
  background-image: url("../images/login-background.png");
  background-size: contain;
}
